extends ../layout

block content
	form(action='/admin/config', method='POST')
		ul
		li: label Backend endpoint:
			input(type='text', value=settings['config:backend-endpoint'], name='backend[endpoint]')
		li: label Backend offline:
			input(type='checkbox', checked=settings['config:backend-offline'], name='backend[offline]')
		li
			button Send

