[submodule "puppet/modules/gcc"]
	path = puppet/modules/gcc
	url = https://github.com/puppetlabs/puppetlabs-gcc.git
[submodule "puppet/modules/wget"]
	path = puppet/modules/wget
	url = https://github.com/maestrodev/puppet-wget.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/nodejs"]
	path = puppet/modules/nodejs
	url = https://github.com/willdurand/puppet-nodejs.git
[submodule "puppet/modules/redis"]
	path = puppet/modules/redis
	url = https://github.com/echocat/puppet-redis.git
