extends layout

block content
	form(action='', method='POST')
		each param in params
			.field
				label
					span= param.name
					input(type=param.type, name=param.name, data-restrictions=param.restrictions.join(' '))
		button Send stuff

