extends layout

block header
	style

	.container.content
		.row
			.col-md-8.col-md-offset-2
					.error-v2
						span.error-v2-title
								| #{code}
								= error
						span That’s an error!
						p
							| The requested URL was not found on this server.
							br
							| That’s all we know.
						.row
							.col-md-6.col-md-offset-3
								a.btn-u.btn-brd.btn-brd-hover.btn-u-light(href='/dashboard/')  Go Back to Main Page