doctype html
html
	head
		meta(charset='utf-8')
		title Maui
		meta(name='viewport', content='initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no')
		link(rel='stylesheet', href='/static/lib/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/static/unify/css/app.css')
		link(rel='stylesheet', href='/static/unify/css/responsive.css')
		link(rel='stylesheet', href='/static/unify/css/style.css')
		link(rel='stylesheet', href='/static/unify/css/headers/header1.css')
		link(rel='stylesheet', href='/static/unify/css/themes/default.css')
		link(rel='stylesheet', href='/static/unify/css/pages/feature_timeline2.css')
		link(rel='stylesheet', href='/static/unify/css/pages/page_404_error1.css')
		link(rel='stylesheet', href='/static/unify/css/plugins/box-shadows.css')
		link(rel='stylesheet', href='/static/unify/css/plugins/brand-buttons/brand-buttons.css')
		link(rel='stylesheet', href='/static/unify/plugins/sky-forms/css/sky-forms.css')
		link(rel='stylesheet', href='/static/unify/plugins/sky-forms/css/custom-sky-forms.css')
		link(rel='stylesheet', href='/static/css/index.css')
		//- script(src='/static/lib/require.js', data-main='/static/js/index.js')
		script(src='/static/lib/jquery-2.1.1.min.js')
		script(src='/static/lib/bootstrap/js/bootstrap.min.js')
		script(src='/static/unify/plugins/circles-master/circles.js')
		script(src='/static/unify/plugins/backstretch/jquery.backstretch.min.js')
		script(src='/static/js/index.js')
	body.boxed-layout.container
		block header


