extends ../wrapper

block content
	.container.content
		h1 Hello #{user.name()}
		ul
			if user.role() === 'admin'
				li: a(href='/admin') Admin page

		#accordion-1.panel-group.acc-v1
			.panel.panel-default.tag-box-v1
				.panel-heading
					h4.panel-title
						a.accordion-toggle(data-toggle='collapse', data-parent='#accordion-1', href='#collapse-One')
							| Tasks list
				#collapse-One.panel-collapse.collapse.in
					.panel-body
						.row
							.col-md-4
								img.img-responsive(src='', alt='image')
							.col-md-8
								p.
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
								a.btn.btn-u(href='/tasks') View list
			
			.panel.panel-default.tag-box-v1
				.panel-heading
					h4.panel-title
						a.accordion-toggle(data-toggle='collapse', data-parent='#accordion-1', href='#collapse-Two')
							| Add new task
				#collapse-Two.panel-collapse.collapse
					.panel-body
						p. 
							Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						a.btn.btn-u(href='/tasks/create') Create new
