extends ../wrapper

block content
	.container.content
		.row
			.col-md-4.col-sm-4
				.servive-block.servive-block-u.shadow-effect-1
					h2 Hello #{user.name()}
			.col-md-8.col-sm-8
				#main-menu.panel-group.acc-v1
					if user.role() === 'admin'
						.panel.panel-default.tag-box-v1
							.panel-heading
								h4.panel-title
									a.accordion-toggle(data-toggle='collapse', data-parent='#main-menu', href='#admin-page')
										| Admin menu
							#admin-page.panel-collapse.collapse
								.panel-body
										ul
											li: a(href='/admin/users') User list
											li: a(href='/admin/tasks/clear') Clear tasks
											li: a(href='/admin/config') Server config
											li: a(href='/dashboard') Back to dashboard

					.panel.panel-default.tag-box-v1
						.panel-heading
							h4.panel-title
								a.accordion-toggle(data-toggle='collapse', data-parent='#main-menu', href='#task-list')
									| Tasks list
						#task-list.panel-collapse.collapse
							.panel-body
								p.
									Here you can view full list of your tasks.
								a.btn.btn-u(href='/tasks') View list
					
					.panel.panel-default.tag-box-v1
						.panel-heading
							h4.panel-title
								a.accordion-toggle(data-toggle='collapse', data-parent='#main-menu', href='#create-new')
									| Add new task
						#create-new.panel-collapse.collapse
							.panel-body
								p. 
									Here you can create new task
								a.btn.btn-u(href='/tasks/create') Create new
