h2 Mormal form
form.sky-form(action='/tasks/create', method='POST')
	header Create new task
		fieldset
			section
				label.label Task name:
				label.input
					input(name='name', type='text', placeholder='Task name')
			section
				label.label Input arguments:
				label.input
					input(name='input_arguments', type='text')
			section
				label.label
					| Number of nodes: 
					span#number-of-nodes-value
				#number-of-nodes.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all(aria-disabled="false")
					.ui-slider-range.ui-widget-header.ui-corner-all
					a.ui-slider-handle.ui-state-default.ui-corner-all(href="#")
			section
				label.label Priority:
				label.select
					select(name='priority')
						option(value='critical', selected=user.type() === 'critical') Critical
						option(value='high', selected=user.type() === 'high') High
						option(value='low', selected=user.type() === 'low') Low
					i
			section
				label.label
					| Available processor share (%):  
					span#available-processor-share-value1 
					|- 
					span#available-processor-share-value2 
				#available-processor-share.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all(aria-disabled="false")
					.ui-slider-range.ui-widget-header.ui-corner-all
					a.ui-slider-handle.ui-state-default.ui-corner-all(href="#")
					a.ui-slider-handle.ui-state-default.ui-corner-all(href="#")
			section
				label.label
					| Available memory (Mb):  
					span#available-memory-value1 
					|- 
					span#available-memory-value2 
				#available-memory.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all(aria-disabled="false")
					.ui-slider-range.ui-widget-header.ui-corner-all
					a.ui-slider-handle.ui-state-default.ui-corner-all(href="#")
					a.ui-slider-handle.ui-state-default.ui-corner-all(href="#")
			section
				label.label
					| Available storage share (Mb):  
					span#available-storage-share-value1 
					|- 
					span#available-storage-share-value2 
				#available-storage-share.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all(aria-disabled="false")
					.ui-slider-range.ui-widget-header.ui-corner-all
					a.ui-slider-handle.ui-state-default.ui-corner-all(href="#")
					a.ui-slider-handle.ui-state-default.ui-corner-all(href="#")
			section
				label.label
					| Time out (min):  
					span#time-out-value1 
					|- 
					span#time-out-value2 
				#time-out.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all(aria-disabled="false")
					.ui-slider-range.ui-widget-header.ui-corner-all
					a.ui-slider-handle.ui-state-default.ui-corner-all(href="#")
					a.ui-slider-handle.ui-state-default.ui-corner-all(href="#")
			section
				label.label Executable:
				.tab-v1
					ul.nav.nav-tabs
						li.active
							a(href='#home-1', data-toggle='tab') bash
						li
							a(href='#profile-1', data-toggle='tab') binary
					.tab-content
						#home-1.tab-pane.fade.active.in
							section
								label.label
								label.textarea
									textarea(name='bash', rows='3', placeholder="Bash code")
						#profile-1.tab-pane.fade
							section
								label.label
								label.input.input-file(for="file")
									.button
										input#file(name='file_url', type="file", onchange="this.parentNode.nextSibling.value = this.value")
										| Browse
									input(type="text", readonly="")
			footer
				button.btn-u(type='submit') Submit
//

	label due date // after which date task is no longer necessary
		input(type="datetime")


