extends ../wrapper

block content
	.container.content
		form(action='/tasks/create', method='POST')
			input(type='hidden', name='type', value='simple')
			input(type='text', name='name', placeholder='Task name')
			button Send stuff

