extends ../wrapper

block content
	.container
		ul
			li: a(href='/dashboard/') Dashboard
			li: a(href='/tasks/') Tasks

		form(action='/tasks/create', method='POST')
			input(type='hidden', name='type', value='simple')
			input(type='text', name='name', placeholder='Task name')
			button Send stuff

