extends ../wrapper

block content
	.container.content
		.tab-v3
			ul.nav.nav-pills.list-inline.margin-bottom-40
				li: a(href='/dashboard/') Dashboard
				li: a(href='/tasks/') Tasks

		case user.type()
			when 'advanced'
				include create_advanced
			when 'normal'
				include create_normal
			default
				include create_simple
