extends ../wrapper

block content
	.container.content
		ul
			li: a(href="/dashboard/") Dashboard
			li: a(href="/tasks/create/") Create task

		ul.timeline-v2
			each task in tasks
				li
					time.cbp_tmtime
						span HH:MM
						span DD/MM/YYYY
					i.cbp_tmicon.rounded-x.hidden-xs
					div.cbp_tmlabel
						h2: a(href="#")= task.name()
						.row
							.col-md-3
								script(type="text/javascript").
									jQuery(document).ready(function() {
										initCircles("#{task.id()}", 100)
									})
								.pie-progress-charts
									.inner-pchart.col-md-3
										div.circle(id='#{task.id()}')

							.col-md-9   
								a(href='/tasks/' + task.id()) View task (#{task.id()})
								form(action='/tasks/remove/', method='POST')
									input(type='hidden', name='id', value=task.id())
									button Remove