.boxed-layout {
    box-shadow: none;
    background: url(../img/Graduated_Blue_Background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.reg-header {
    text-align: center;
}
.timeline-v2 > li .cbp_tmlabel {
    background-color: #fff;
}
.timeline-v2 > li .cbp_tmlabel:after {
    border-right-color: #fff;
}
.timeline-v2:before {
    background: #fff;
}
.timeline-v2 > li .cbp_tmicon {
    box-shadow: 0 0 0 4px #fff;
}
@media screen and (max-width: 47.2em) {
    .timeline-v2 > li .cbp_tmlabel:after {
        border-bottom-color: #fff;
        border-right-color: transparent;
    }
}
