extends ../wrapper

block content
	.container.content
		.row
			.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
				.shadow-wrapper.margin-bottom-60
					.tag-box.tag-box-v1.box-shadow.shadow-effect-2
						.reg-header
							h2 Login to your account
						a.btn.btn-block.btn-google-inversed.rounded(href='/auth/google')
							i.fa.fa-google
								| Google