extends ../wrapper

block content
	.container.content
		.row
			.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
				.shadow-wrapper.margin-bottom-60
					.tag-box.tag-box-v1.box-shadow.shadow-effect-2
						.reg-header
							h2 Login to your account
						a.btn.btn-block.btn-google.rounded(href='/auth/google') Google
						a.btn.btn-block.btn-github.rounded(href='/auth/github') GitHub
						a.btn.btn-block.btn-googleplus.rounded(href='/auth/yandex') Yandex

